.app__main {
  width: 100%;
}

.main__wrapper {
  display: flex;
  margin: 10px 20px;
}

.filters__container {
  position: fixed;
  box-sizing: border-box;
  right: 20px;
  top: 10px;
  width: 30vw;
  height: 230px;
  border: 1px solid #f0f0f0;
}

.filters__wrapper {
  margin: 20px 20px;
}